.form-signin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 1.5rem;
}

.form-floating {
    position: relative;
    margin-bottom: 15px;
    text-align: left;
}

.form-control {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

label {
    display: block;
    margin-top: 5px;
    font-size: 14px;
    color: #555;
}

.checkbox {
    text-align: left;
    margin-bottom: 15px;
}

.btn-primary {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #181439;
    color: #fff;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #181439;
}

.error {
    color: red;
    margin-top: 10px;
}